/* Dark Mocha theme with transparency */
window {
    margin: 0px;
    border: 2px solid #cba6f7; /* Mauve Accent */
    border-radius: 15px;
    background-color: rgba(30, 30, 46, 0.9); /* Matching Waybar islands */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#outer-box {
    margin: 15px;
    border: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#input selection {
    background-color: #cba6f7;
    color: #11111b;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #cdd6f4;
}

#input:focus {
    border: 1px solid #cba6f7;
}

#scroll {
    margin-top: 10px;
}

#text selection {
    background-color: transparent;
}

#text {
    margin: 5px;
    color: #cdd6f4;
}

#entry * {
    background-color: transparent;
}

/* Styling the selected item */
#entry:selected {
    background-color: #cba6f7; /* Subtle Mauve glow */
    border-radius: 10px;
    outline: none;
}

#text:selected {
    color: #11111b;
    font-weight: bold;
}

#entry:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}
